<h1>Crear rol</h1>

<form method="post">

    <div class="form-group">
        <label>Nombre del rol</label>
        <input type="text" name="nombre" class="form-control">
    </div>
    
    <button class="btn btn-primary">Crear rol</button>
</form>