@{
    ViewData["Title"] = "Historial";
}

<div class="container-fluid">
    <h2>Historial de Consumo</h2>

    <div class="row">
         <div  class="col-sm-6">
             
                <a style="text-align:center;" href="~/Cuenta/HistorialReservas">
                <img src="https://cdn.shopify.com/s/files/1/0714/9133/files/compra_en_lineaanigif.gif?9891542390587513060" width="350" height="350">
                <strong>MIS RESERVAS</strong>
                </a>
               

        </div>
        
         
        
        <div class="col-sm-6">          
                
            
                <a style="text-align:center;" href="~/Cuenta/HistorialPedidos">
                <img src="https://format-com-cld-res.cloudinary.com/image/private/s--NcWJjxfH--/c_limit,g_center,h_1200,w_65535/a_auto,fl_keep_iptc.progressive,q_95/v1/46b05bb199bb3322beb7c4ff434874de/VacuumSealed_Stopmotion_2.gif" width="350" height="350">
                <strong>MIS PEDIDOS</strong>
                </a>
              
        </div>
       
    </div>
</div>