@{
    ViewData["Title"] = "Historial";
}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <a style="text-align:center;" href="~/Cuenta/HistorialReservas">RESERVAS</a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <a style="text-aling:center;" href="~/Cuenta/HistorialPedidos">PEDIDOS</a>
            </div>
        </div>
    </div>
</div>