@{
    ViewData["title"] = "Realizar Pedido";
    var producto = ViewBag.Id;
    var productos = (List<Producto>)ViewBag.productos;
    var cantidad = ViewBag.cantidad;
}

@model Compras

@if (User.Identity.IsAuthenticated) {
    <h1 style="text-align: center;">Realizar Pedido</h1>
    <form asp-action="RealizarPedido" method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label>Nombres:</label>
            <input asp-for="Nombres">
        </div>
        <div class="form-group">
            <label>Apellidos:</label>
            <input asp-for="Apellidos">
        </div>
        <div class="form-group">
            <label>DNI:</label>
            <input asp-for="DNI">
        </div>
        <div class="form-group">
            <label>Dirección:</label>
            <input asp-for="Direccion">
        </div>
        <div class="form-group">
            <label>Teléfono:</label>
            <input asp-for="Telefono">
        </div>
        <div class="form-group">
            <label>Número de cuenta:</label>
            <input asp-for="NumeroCuenta">
        </div>
       
        
        <div class="form-group">
            <label>Cantidad:</label>
            @cantidad
        </div>
        <div class="form-group">
            <label asp-for="Producto"></label>
            <select asp-for="ProductoId" class="form-control">
                @foreach (var item in productos)
                {
                    <option value="@item.Id">@item.Nombre</option>
                }
            </select>
        </div>
        <input type="hidden" name="cantidad" value="@cantidad">
        <div class="form-group">
            <button style="background-color: green" class="btn btn-primary btn-lg btn-block" type="submit">Confirmar Pedido</button>
        </div>
    </form>
} else{
    <h1>NO ESTA AUTORIZADO PARA VISUALIZAR ESTA PAGINA</h1>
    <div class="container">
        <img src="~/imagenes/error.png" alt="" >
    </div>
}