<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoPM</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-fallback-test-class="sr-only"
            asp-fallback-test-property="position" asp-fallback-test-value="absolute" crossorigin="anonymous"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        input[type="text"] {
            width: 100%;
            border: 2px solid #0000FF;
            border-radius: 4px;
            margin: 8px 0;
            outline: none;
            padding: 8px;
            box-sizing: border-box;
            transition: 0.3s;
        }

        input[type="email"] {
            width: 100%;
            border: 2px solid #0000FF;
            border-radius: 4px;
            margin: 8px 0;
            outline: none;
            padding: 8px;
            box-sizing: border-box;
            transition: 0.3s;
        }

        input[type="password"] {
            width: 100%;
            border: 2px solid #0000FF;
            border-radius: 4px;
            margin: 8px 0;
            outline: none;
            padding: 8px;
            box-sizing: border-box;
            transition: 0.3s;
        }

        input[type="text"]:focus {
            border-color: dodgerBlue;
            box-shadow: 0 0 8px 0 dodgerBlue;
        }

        input[type="email"]:focus {
            border-color: dodgerBlue;
            box-shadow: 0 0 8px 0 dodgerBlue;
        }

        input[type="password"]:focus {
            border-color: dodgerBlue;
            box-shadow: 0 0 8px 0 dodgerBlue;
        }
    </style>




</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="img-fluid" src="~/imagenes/logo.jpg" alt="" width="100px">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Nosotros">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Categorias" asp-action="Index">La
                                Carta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Reserva"
                                asp-action="Index">Reservas</a>
                        </li>
                      
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="Ubicanos">Ubícanos</a>
                        </li>

                        @if(!User.Identity.IsAuthenticated){
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="~/cuenta/crear">Crear Cuenta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="~/cuenta/login">Iniciar Sesión</a>
                        </li>
                        }
                        else{
                        //if--->vista administrador
                        @if (User.IsInRole("Administrador")){

                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link  dropdown-toggle" data-toggle="dropdown" href="#"
                                role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user"></span> 
                                <strong>Opciones de administración</strong>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-12">


                                                <p class="text-center">
                                                    <a class="btn btn-light btn-block" asp-controller="Cuenta"
                                                        asp-action="crearrol"><strong>Crear rol</strong></a>
                                                </p>
                                                <p class="text-center">
                                                    <a class="btn btn-light btn-block" asp-controller="Cuenta"
                                                        asp-action="asociarrol"><strong>Asociar Rol</strong></a>
                                                </p>
                                                <p class="text-center">
                                                    <a class="btn btn-light btn-block" asp-controller="Reserva"
                                                        asp-action="Reservas"><strong>Ver Informe</strong></a>
                                                </p>


                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>

                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link  dropdown-toggle" data-toggle="dropdown" href="#"
                                role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user"></span> 
                                <strong>Opciones de registro</strong>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-12">


                                                <p class="text-center">
                                                    <a class="btn btn-light btn-block" asp-controller="Categorias"
                                                        asp-action="registro"><strong>Registrar Categorías</strong></a>
                                                </p>
                                                <p class="text-center">
                                                    <a class="btn btn-light btn-block" asp-controller="Productos"
                                                        asp-action="registro"><strong>Registrar Productos</strong></a>
                                                </p>
                                                <p class="text-center">
                                                    <a class="btn btn-light btn-block" asp-controller="Sucursal"
                                                        asp-action="registro"><strong>Registrar Sucursales</strong></a>
                                                </p>

                                                
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>

                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                                role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user"></span> 
                                <strong>Mi Cuenta</strong>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p class="text-center">
                                                    <a class="btn btn-light btn-block"
                                                        asp-controller="Cuenta"
                                                        asp-action="CambiarContraseña"><strong>Cambiar
                                                            Contraseña</strong></a>
                                                </p>
                                                <p class="text-center">
                                                    <a class="btn btn-light btn-block"
                                                        asp-controller="Cuenta"
                                                        asp-action="HistorialUsuario"><strong>Historial de
                                                            Consumo</strong></a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p class="text-center">
                                                    <a asp-controller="Cuenta" asp-action="Logout"
                                                        class="btn btn-danger btn-block">Cerrar Sesion</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                                    
                        </li>



                        }                      
                        else{
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="nav-item dropdown">
                                        <a href="#" class="nav-link text-light dropdown-toggle" data-toggle="dropdown"
                                            href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                            <span class="glyphicon glyphicon-user"></span> 
                                            <strong>Bienvenido(a), @Context.User.Identity.Name</strong>
                                            <span class="glyphicon glyphicon-chevron-down"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="navbar-login">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <p class="text-center">
                                                                <a class="btn btn-light btn-block"
                                                                    asp-controller="Cuenta"
                                                                    asp-action="CambiarContraseña"><strong>Cambiar
                                                                        Contraseña</strong></a>
                                                            </p>
                                                            
                                                            <p class="text-center">
                                                                <a class="btn btn-light btn-block"
                                                                    asp-controller="Cuenta"
                                                                    asp-action="HistorialUsuario"><strong>Historial de
                                                                        Consumo</strong></a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="navbar-login navbar-login-session">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <p class="text-center">
                                                                <a asp-controller="Cuenta" asp-action="Logout"
                                                                    class="btn btn-danger btn-block">Cerrar Sesion</a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                        </ul>
                                    </li>
                                </ul>

                            }



                                //CREAR MODEL: PRODUCTO , CATEGORIA, RESERVA
                                //CREAR VIEWS: FICHA-PRODUCTO, BOLSA-COMPRA, check out
                                //CREAR TABLAS: PEDIDO
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - Crustaceo Cascarudo - <a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js" asp-fallback-test="window.jQuery" crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
            </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal" crossorigin="anonymous"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
            </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>