@model Sucursal

<h1>Registro de Sucursal</h1>

<form method="post">
    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Direccion"></label>
        <input asp-for="Direccion" class="form-control">
    </div>
    <div class="form-group">
            <label>Foto: </label>
            <input type="file" name="photofile">
    </div>
    <div class="form-group">
        <label asp-for="Telefono"></label>
        <input asp-for="Telefono" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Distrito"></label>
        <select asp-for="DistritoId" class="form-control">
            @foreach (var item in (List<Distrito>)ViewBag.Distritos)
            {
                <option value="@item.Id">@item.Nombre</option>
            }
        </select>
    </div>
     <div class="form-group">
        <label asp-for="Correo"></label>
        <input asp-for="Correo" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="DireccionMaps"></label>
        <textarea asp-for="DireccionMaps" rows="10" class="form-control"></textarea>
    
    </div>
    <button class="btn btn-primary">Registrar</button>
</form>