    <div class="text-center">
        <h1 class="display-4" style="font-family: Raleway,helvetica,arial,sans-serif;"> 
            Nosotros
        </h1>
    </div>
    <hr>
    <div class="text-center">
        <p class="display-8" style="font-family: Times New Roman, Times, serif;font-size: 20px;"> 
            Crustaceo Cascarudo, una gran familia dedicada a brindarles la mejor experiencia culinaria con la pasión que nos caracteriza.
            Cada una de las personas en nuestro equipo está comprometida a transportarte mediante nuestros sabores a una aventura memorable.
            Tenemos siempre presente los orígenes de nuestros productos, manteniendo el respeto hacia ellos y a lo que nos rodea.
        </p>
    </div>
    <br>

    <div class="row">
        <div class="col-lg-4 clearfix col-sm-4 margint30"> 
            <h4> Nuestra Historia </h4>
            <hr>
            <p>  
                La empresa Crustaceo Cascarudo inició sus operaciones en el año de 2015, en un pequeño local.
            
                Desde el principio se caracterizó por una atención diferenciada en relación a otras cevicherías. Esta excelente atención, a la que se sumó el particular 
                sabor de los platos hizo que aumentarán nuestros comensales para poder degustar los suculentos productos. Por esa época, 
                los clientes también podían observar la elaboración de los mismos, más aun, el encargado de preparar el ceviche lo hacía según el gusto del cliente.

                Con el pasar del tiempo este “puntito” marino,se convirtió 
                en el favorito de asiduos clientes, quienes con sus pedidos y sugerencias motivaron que la carta de platos 
                se vaya ampliando.
            </p>
        </div>
        <div class="col-lg-8 mt-30" >
            <img width="658px" src="http://puntoazulrestaurante.com/wp-content/uploads/2016/05/4ceviches.jpg" class="rounded mx-auto d-block">
        </div>
    </div> 
    <br>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
            <div class="card-header text-white bg-primary text-dark text-center" style="font-family: Raleway,helvetica,arial,sans-serif; font-size: 25px;" >
                <strong>Nuestros Valores</strong>
            </div>
            <div class="card-body">
                
                    <ul class="about-lista">
                        <li>Honestidad: Trabajar con franqueza y respeto hacia las personas y sus funciones.</li>
                        <li>Creatividad e Innovación: Incorporar nuevas ideas que permitan desarrollar y mejorar el servicio.</li>
                        <li>Calidad de Servicio: Compromiso con la cultura de la empresa. Satisfacer todas las necesidades y expectativas del cliente.</li>
                        <li>Esfuerzo y Dedicación: Ser persistente en el logro de los objetivos, trabajando con compromiso, cooperación y disciplina.</li>
                        <li>Pasión: El poder interior que todas las personas tienen pero que muy pocas saben aprovechar.</li>
                    </ul>
                
            </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header text-white bg-primary text-dark text-center" style="font-family: Raleway,helvetica,arial,sans-serif; font-size: 25px;" >
                <strong>Mision y Vision</strong>
            </div>
            <div class="card-body">
                <p class="card-text">
                   <strong>Misión :</strong> “Buscamos la excelencia en la preparación de la comida marina a 
                    través de insumos de calidad, en un ambiente agradable desarrollados por 
                    un equipo humano competente y comprometidos en proporcionar excelente 
                    servicio y satisfacción”.
                    <br>
                    <br>
                    <strong>Visión :</strong> “Ser reconocidos como el mejor restaurante de comida marina a nivel 
                    nacional, por los altos estándares de calidad en el servicio, innovación en 
                    el mercado y creando experiencias agradables al paladar de nuestros clientes”.
                </p>
            </div>
            </div>
        </div>
    </div>