@{
    ViewData["Title"] = "Home Page";
   var reserva = (List<Reserva>)ViewBag.r;
         

}
@model List<Reserva>
<div class="container">
    
        <div class="row">
                <div class="col-sm">
                        <div class="text-center">
                                <h1 style="color: green">Mis Reservas</h1>
                        </div>
                </div>
        </div>
        

                <div class="row">
                        
                        <div class="col-sm-6">
                                <div class="row">
                                        <div class="col-sm">
                                                <div class="text-center">
                                                        <h1>Mis Reservas</h1>
                                                </div>
                                        </div>
                                </div>
                                <div class="fondoIndex">
                                        <div class="row">
                                                @if(reserva.Count==0){
                                                        <div class="col-sm-12">
                                                                <h2 style="color: red" class="text-center">No tiene reservas registradas</h2>
                                                        </div>
                                                }else{  
                                                @foreach (var m in reserva)
                                                {
                                                        <div style="margin-top: 10px;margin-bottom: 10px" class="col-sm-6">
                                                                <div class="sucursal">
                                                                                <p style="text-align: center">@m.Nombre</p>

                                                                        
                                                                </div>
                                                        </div>
                                                }}
                                        </div>
                                </div>
                                
                        </div>
                        
                </div>
                
        
</div>
