@{
    ViewData["Title"] = "Reservas";
    
    var sucNom=(List<Sucursal>) ViewBag.sucNom;
   
    var mesas = ViewBag.Nmesa;
    var sucursalId = ViewBag.IdentificadorSucursal;
}
@model Reserva

@if (User.Identity.IsAuthenticated) {

<div class="container">
    <h1 style="text-align:center">Registro de reserva</h1>
    <form asp-action="~/Reserva/Reservar" method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label>Nombres:</label>
            <input asp-for="Nombre">
        </div> 
        <div class="form-group">
            <label>Apellidos:</label>
            <input asp-for="Apellido">
        </div>
        <div class="form-group">
            <label>Celular:</label>
            <input asp-for="Celular">
        </div> 
        <div class="form-group">
            <label>Email:</label>
            <input asp-for="Email">
        </div> 
        <div class="form-group">
            <label>Agregar información adicional:</label>
            <textarea asp-for="Descripcion" rows="3" class="form-control"></textarea>
        </div>  
        <div class="form-group">
            <label>Seleccione una mesa disponible:</label>
            <select name="mesa" id="" class="form-control" style="width:100px;"> 
                @for (int i = 1; i <= mesas; i++)
                {
                    <option value="@i">Mesa @i</option>
                }
            </select>
        <div class="form-group">
            <label>Fecha de reserva:</label>
            <input asp-for="Fecha" type="Date">
        </div>
        <div class="form-group">
            <label>Seleccione un horario:</label>
            <select name="horario" id="horario" class="form-control" style="width:300px">
                <option value="1">9am - 11am</option>
                <option value="2">11am - 1pm</option>
                <option value="3">1pm - 3pm</option>
                <option value="4">3pm - 5pm</option>
            </select>
        </div>
        <input type="hidden" name="SucursalId" value="@sucursalId">
        <div class="form-group">
            <button style="background-color: green" class="btn btn-primary btn-lg btn-block" type="submit">Completar Reserva</button>
        </div>
    </form>
</div>
}else{
        <h1>NO ESTA AUTORIZADO PARA VISUALIZAR ESTA PAGINA</h1>
        <div class="container">
                <img src="~/imagenes/error.png" alt="" >
        </div>

        
}