@{
    ViewData["Title"] = "Reservas";
    
    var sucNom=(List<Sucursal>) ViewBag.sucNom;
    var id = ViewBag.Id;
}
@model Reserva

@if (User.Identity.IsAuthenticated) {

<div class="container">
    <h1 style="text-align:center">Registro de reserva</h1>
    <form asp-action="reservar" method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label>Nombres:</label>
            <input asp-for="Nombre">
        </div> 
        <div class="form-group">
            <label>Apellidos:</label>
            <input asp-for="Apellido">
        </div>
        <div class="form-group">
            <label>Celular:</label>
            <input asp-for="Celular">
        </div> 
        <div class="form-group">
            <label>Email:</label>
            <input asp-for="Email">
        </div> 
        <div class="form-group">
            <label>Agregar información adicional:</label>
            <textarea asp-for="Descripcion" rows="3" class="form-control"></textarea>
        </div>  
        <div class="form-group">
        <label asp-for="Sucursal"></label>
        <select asp-for="SucursalId" class="form-control">
            @foreach (var item in sucNom)
            {
                <option value="@item.Id">@item.Nombre</option>
            }
        </select>
        </div>
        <a href="https://api.whatsapp.com/send?phone=51989658210&text=Hola%2C%20cómo%20estás" 
        target="_blank"><img width="40" src="https://image.flaticon.com/icons/svg/220/220236.svg" alt=""></a>
        
        <div class="form-group">
            <button style="background-color: green" class="btn btn-primary btn-lg btn-block" type="submit">Completar Reserva</button>
        </div>
    </form>
</div>
}else{
        <h1>NO ESTA AUTORIZADO PARA VISUALIZAR ESTA PAGINA</h1>
        <div class="container">
                <img src="~/imagenes/error.png" alt="" >
        </div>

        
}