@{
    ViewData["Title"] = "Reservas";
    var distrito = (List<Distrito>)ViewBag.dis;
    var id = ViewBag.Id;
}
@model Reserva
@if (User.Identity.IsAuthenticated) {

<div class="container">
    <h1 style="text-align:center">Registro de reserva</h1>
    <form asp-action="reservar" method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label>Nombre:</label>
            <input asp-for="Nombre">
        </div>     
               
        <input type="hidden" name="id" value="@id">
        
        <div class="form-group">
            <button style="background-color: green" class="btn btn-primary btn-lg btn-block" type="submit">Completar Reserva</button>
        </div>
    </form>
</div>
}else{
        <h1>NO ESTA AUTORIZADO PARA VISUALIZAR ESTA PAGINA</h1>
        <div class="container">
                <img src="~/imagenes/error.png" alt="" >
        </div>

        
}